<footer class="footer" >
  <small>
    <p class="text-success">By Yamile Tobón, Daniela Mejía and Jersson Itsait Restrepo - Todos los derechos reservados © ADSI-2013</p>
  </small>
  <nav>
    <ul>
     <li><a href="http://www.sena.edu.co/">SENA</a></li>
    </ul>
  </nav>
</footer>