<nav id="colorNav" >
            <ul>
                <li class="green">
                    <a href="#" class="icon-home"></a>
                    <ul>
                        <li><%= link_to('Inicio', root_path) %>
                        </li>
                    </ul>
                </li>
                <li class="red">
                    <a href="#" class="icon-wrench"></a>
                    <ul>
                        
                        <li><a href="carrotalleres">Carrotalleres</a></li>
                        <li><a href="mecanicos">Mecánicos</a></li>
                        <li><a href="talleres">Talleres</a></li>
                        

                    </ul>
                </li>
                <li class="blue">
                    <a href="#" class="icon-truck"></a>
                    <ul>
                        <li><a href="conductores">Conductores</a></li>
                        <li><a href="desplazamientos">Desplazamientos</a></li>
                        <li><a href="gruas">Gruas</a></li>
                        <li><a href="parqueaderos">Parqueaderos</a></li>
                        
                    </ul>
                </li>
                <li class="yellow">
                    <a href="#" class="icon-medkit"></a>
                    <ul>
                        <li><a href="abogados">Abogados</a></li>
                        <li><a href="ambulancias">Ambulancias</a></li>
                        <li><a href="bomberos">Bomberos</a></li>
                    </ul>
                </li>
                <li class="purple">
                    <a href="#" class="icon-umbrella"></a>
                    <ul>
                        <li><a href="transitos">Oficinas de Transito</a></li>
                        <li><a href="aseguradoras">Aseguradoras</a></li>
                    </ul>
                </li>
            </ul>
        </nav>





